##############################
# Files/File-pattern to ignore
##############################
*.7z
*.bak
*.bz2
*.bzip
*.cab
*.class
*.com
*.deb
*.dll
*.dmg
*.ear
*.egg
*.exe
*.gem
*.gz
*.idea
*.iml
*.ipr
*.iso
*.iws
*.jar
*.launch
*.lck
*.lzma
*.msi
*.msm
*.msp
*.o
*.orig
*.rar
*.rej
*.rpm
*.so
*.spec.mod
*.sublime-*
*.swp
*.tar
*.tmp
*.un~
*.war
*.xpi
*.xz
*.zip
*~
*~.nib
*.mf

.buildpath
.classpath
.cproject
.directory
.DS_Store*
.gradle
.hidden
.jslint.*
.loadpath
.m2
.metadata
.netrwhist
.nfs*
.project
.svn
.target
.texlipse
.settings
.#*


atlassian-ide-plugin.xml
create_plugin*.log
DIFFS.txt
distfiles
ehthumbs.db
gradle-app.setting
hs_err_pid*
Icon?
local.properties
make.state
osp.err
osp.log
osp.properties
OUTPUT.txt
plugin_validation_report_*.xml
rcu.log
Session.vim
sonar-project.properties
Thumbs.db

########################################
# Directory/Directory pattern to ignore
########################################
.data/
.DS_Store/
.externalToolBuilders/
.gradle/
.hg/
.hgtags/
.mtj.tmp/
.nb-gradle/
.scannerwork/
.settings/
.sonar/
.svn/

bin/
build/
classes/
CVS/
deploy/
dist/
generated/
gitonly/sidekick/output/
log/
maven-home/
nbproject/
null/
test-coverage/
test-output/
test-reports/
tmp/
work/
web/
__pycache__/
.chef
${env:T_WORK}
